.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

/*
Prevents outline of search button when modal is closed
ref.: https://bit.ly/2ncpMmN
*/
a:focus
{
    outline: none !important;
}

body {
    padding-top: 5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

caption {
    text-align: center;
    color: black;
}

code {
    color: black;
}

html {
    position: relative;
    min-height: 100%;
}

/* Nested ordered lists with counters
ref.: https://stackoverflow.com/a/10405962
*/
ol.toc {
    counter-reset: item;
}

ol.toc > li {
    display: block;
}

ol.toc > li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

/* Dotted underline
ref.: https://stackoverflow.com/a/15252732
*/
u.dotted{
    border-bottom: 1px dashed #999;
    text-decoration: none;
}

/* CSS for Mobile: navbar icons */
@media (max-width: 576px)
{
  a {
    font-size: 1em;
  }
    /*
  div.plotly-graph-div {
      height: 15%;
      width: 100%;
  }
*/
  .hide {
    display: none;
  }

  img {
    width: 30px;
    height: 30px;
  }

  img.rwd_img {
      width: 100%;
      height: auto;
  }

  svg {
    width: 25px;
    height: 25px;
  }

  /* flex-direction
  Keep navbar ul elements horizontally on small screens when navbar toggled
  ref.: https://stackoverflow.com/a/48711757
  */
  ul.icons {
    flex-direction:row !important;
    -webkit-flex-direction:row !important;
  }

  ul.icons > li > a {
    margin-right: 15px;
  }
}

/* CSS for Mobile: Collapsed menu scrolling
@media queries
max-width: given screen size or smaller
ref.: https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
*/
@media (max-height: 400px) and (max-width: 585px)
{
  /* overflow-y
  Enable scroll bar when navbar collapses
  ref.: https://stackoverflow.com/a/37880633
  */
  #navbarsExampleDefault {
    overflow-y: scroll !important;
    max-height: 250px !important;
  }

  /* -webkit
  Change style of scroll bar with -webkit, only works on Chrome and Safari
  Note: When I removed the div (::-webkit instead of div::-webkit), the scroll
  bar was not being modified
  ref.: https://stackoverflow.com/a/44212775
  */
  div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  div::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
}

/* Table CSS */
table.results > tbody {
    border: 4px solid #000;
}

table.results {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tbody.results > tr > td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

tbody.results > tr > th {
    text-align: center;
}

tbody.results > tr > td {
    text-align: center;
}

tbody.results > tr:nth-child(even) {
    background-color: #dddddd;
}

tbody.results > tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Table CSS for dev-jobs-insights */
table.style_table > tbody {
    border: 1px solid #000;
}

/* center html table with `margin: 0px auto;`
   ref.: https://stackoverflow.com/a/14073610
*/
table.style_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 0px auto;
}

tbody.style_table > tr > td, th {
    border: 1px solid #000;
    padding: 8px;
}

tbody.style_table > tr > th {
    text-align: center;
}

tbody.style_table > tr > td {
    text-align: center;
}

tbody.style_table > tr:nth-child(even) {
    background-color: #dddddd;
}

tbody.style_table > tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Center image
   ref.: https://www.w3schools.com/howto/howto_css_image_center.asp
*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Back to top arrow */
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    font-size: 12px;
    padding: 1em;
    display: none;
}
.back-to-top:hover {
    text-decoration: none;
}

/* Footer
 ref.: https://stackoverflow.com/a/51832877
*/
main {
    flex-grow: 1;
}

footer.footer {
    flex-grow: 0;
    padding: 15px 0;
    display: block;
    background-color: #f5f5f5;
}