.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

/*
Prevents outline of search button when modal is closed
ref.: https://bit.ly/2ncpMmN
*/
a:focus {
    outline: none !important;
}

a.submenu {
    padding-left: 3rem;
}

body {
    padding-top: 4.4rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

caption {
    text-align: center;
    color: black;
}

code {
    color: black;
}

html {
    position: relative;
    min-height: 100%;
}

/* Add caption to figure
   ref.: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure
*/
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 5px;
    width: 19em;
}

img.sample {
    width: 100%;
}

.custom-caption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    width: 100%;
}

/* Avoid headings (or other tags) being hidden behind a fixed navbar
   ref.: https://stackoverflow.com/a/13138463
*/
p, h2, h3, h4, h5, h6{
    position:relative;
}

p span, h2 span, h3 span, h4 span, h5 span, h6 span{
    position:absolute;
    top:-80px;
}

/* Nested ordered lists with counters
ref.: https://stackoverflow.com/a/10405962
*/
ol.toc {
    counter-reset: item;
}

ol.toc > li {
    display: block;
}

ol.toc > li:before {
    content: counters(item, ".") ". ";
    counter-increment: item
}

ol.toc {
   margin-left:-30px;
}

ol.toc > li > ol.toc {
   margin-left:-5px;
}

ul.toc {
   margin-left:-20px;
}

/* Dotted underline
ref.: https://stackoverflow.com/a/15252732
*/
u.dotted{
    border-bottom: 2px dashed #999;
    text-decoration: none;
}

/* CSS for Mobile: navbar icons */
@media (max-width: 576px)
{
    body {
        padding-top: 0rem;
    }

    a {
        font-size: 1em;
    }

    /* Nav-bar fixed at the top on small screens
       Also, `padding-top` of `body` must be set to 0rem so the nav bar starts
       completely at the top left corner.

       main ref.: https://stackoverflow.com/a/47064591
       other ref.: https://stackoverflow.com/a/27861655
    */
    .fixed-top {
        position: relative !important;
    }

    /*
  div.plotly-graph-div {
      height: 15%;
      width: 100%;
  }
*/

    /* Hide plotly for small screens */
    .hide {
        display: none;
    }

    img {
        width: 30px;
        height: 30px;
    }

    img.rwd_img {
        width: 100%;
        height: auto;
    }

    svg {
        width: 25px;
        height: 25px;
    }

    /* flex-direction
    Keep navbar ul elements horizontally on small screens when navbar toggled
    ref.: https://stackoverflow.com/a/48711757
    */
    ul.icons {
        flex-direction:row !important;
        -webkit-flex-direction:row !important;
    }

    ul.icons > li > a {
        margin-right: 15px;
    }
}

/* CSS for Mobile: Collapsed menu scrolling
@media queries
max-width: given screen size or smaller
ref.: https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
*/
@media (max-height: 400px) and (max-width: 585px)
{
  /* overflow-y
  Enable scroll bar when navbar collapses
  ref.: https://stackoverflow.com/a/37880633
  */
  #navbarsExampleDefault {
    overflow-y: scroll !important;
    max-height: 250px !important;
  }

  /* -webkit
  Change style of scroll bar with -webkit, only works on Chrome and Safari
  Note: When I removed the div (::-webkit instead of div::-webkit), the scroll
  bar was not being modified
  ref.: https://stackoverflow.com/a/44212775
  */

  div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  div::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
}

/* Table CSS for python_reverse_dict: results */
table.results > tbody {
    border: 4px solid #000;
}

/* Table CSS for dev-jobs-insights: style_table */
table.style_table > tbody {
    border: 1px solid #000;
}

table.results {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.style_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* center html table with `margin: 0px auto;`
       ref.: https://stackoverflow.com/a/14073610
    */
    margin: 0px auto;
}

tbody.results > tr > td, th {
    border: 1px solid #000;
    padding: 8px;
}

tbody.style_table > tr > td, th {
    border: 1px solid #000;
    padding: 8px;
}

/* Center table headers */
tbody.results > tr > th {
    text-align: center;
}

/* Center table data */
tbody.style_table, tbody.results {
    text-align: center;
}

/* Last column text alignment
   ref.: https://stackoverflow.com/a/20183474
*/
/*
tbody.style_table > tr > td:nth-last-child(1) {
    text-align: left;
}
*/

/* Color grey the even data rows */
tbody.results > tr:nth-child(even), tbody.style_table > tr:nth-child(even) {
    background-color: #dddddd;
}

/* Color grey the cells with `rowspan_grey` as class */
.rowspan_grey {
    background-color: #dddddd;
}

/* Color white the cells with `rowspan_white` as class */
.rowspan_white {
    background-color: #ffffff;
}

/* Color the odd data rows */
tbody.results > tr:nth-child(odd), tbody.style_table > tr:nth-child(odd){
    background-color: #ffffff;
}

/* Center image
   ref.: https://www.w3schools.com/howto/howto_css_image_center.asp
*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Back to top arrow */
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    font-size: 12px;
    padding: 1em;
    display: none;
}
.back-to-top:hover {
    text-decoration: none;
}

/* Footer
 ref.: https://stackoverflow.com/a/51832877
*/
main {
    flex-grow: 1;
}

footer.footer {
    flex-grow: 0;
    padding: 15px 0;
    display: block;
    background-color: #f5f5f5;
}
